# Markdowns
## markdowns
### markdowns
#### markdowns
##### markdown
###### markdown

#### for italic and bold
* *point1*
* **point1**
* ***point***

- Normal Text
    - subtext1
    - subtext2

![image](https://image.shutterstock.com/image-photo/beautiful-water-drop-on-dandelion-260nw-789676552.jpg)

* [1](https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjMoNnq05jmAhUUfisKHb-oA0oQPAgH)

In [1]:
print("hello,gitam")
print("hiii")

hello,gitam
hiii

In [2]:
print("hello, gitam",end=" " )
print("Good morning")

hello, gitam Good morning

In [3]:
a = 10
a = b = c = 1
a, b, c == 1,2,3

(1, 1, True, 2, 3)

# assignment

In [4]:
a = "python"
b = "p"
c = 10
type(c)
type(a)
id(a)

37677792

In [5]:
name = "Python"

In [6]:
a = 10
b = 10
print(id(a))
id(b)

1442629936

1442629936

In [7]:
name = "abc"
age = "10"
print("my name is", name, "and age is", age)

my name is abc and age is 10

In [8]:
a = input("enter a string")

enter a stringert

In [9]:
b = input("enter a number")

enter a number9

In [10]:
c = int(input("enter a number"))

enter a number9

In [11]:
a = int(input("enter a number"))
b = int(input("enter a number"))
a+b

enter a number9
enter a number9

18

In [12]:
a = int(input("enter a number"))
b = int(input("enter a number"))
a*b

enter a number9
enter a number9

81

In [13]:
# fundamental datatypes
# int
# float
# complex
# boolean
# string

In [17]:
x = 10
print(x)
type(x)

10

int

In [18]:
x = 10.34
print(x)
type(x)

10.34

float

In [20]:
x = 10 + 2j
print(x)
type(x)

(10+2j)

complex

In [22]:
y= complex(2,3)
y

(2+3j)

In [23]:
a = 2+5j
b = 1+3j
a*b

(-13+11j)

In [24]:
a = True
type(a)

bool

In [26]:
a = 10
b = 1234
a>b

False

In [30]:
# string
s1 = "abc"
s2 = 'abc'
print(s1)
s2

abc

'abc'

In [32]:
s = 100
s1 = str(s)
s1

'100'

In [33]:
s = "100"
print(type(s))
a= int(s)
type(a)

<class 'str'>

int

In [34]:
a = "1234"
len(a)

4

# OPERATORS
# Arithmetic operators
# logical operators
# relational operators
# membership operators

In [40]:
# arithmetic operator
a = 4
b = 2
print(a+b)
print(a*b)
print(a-b)
print(b%a)
print(a/b)
print(a//b)
print(a**b)

6
8
2
2
2.0
2
16

In [42]:
# logical operator
x=2
y=4
print(x>=5 and x<10)
print(x>=5 or x<10)
print(not(x))

False
True
False

In [43]:
# relational operator
a = 4
b = 2
print(a>b)
print(a<b)
print(a==b)
print(b!=a)
print(a>=b)
print(a<=b)

True
False
False
True
True
False

In [48]:
# membership operator
str1 = "abc"
print('a' in str1)
print('d' not in str1)

True
True

In [ ]:
# conditional statements
if
if-else
elif

In [ ]:
#syntax
if condition:
    - statement

In [ ]:
#syntax
if condition:
    - statement
    
-else:
    - statements

In [49]:
#syntax
if condition:
    - statement
    
-elif:
    - statements
    
-elif:
    - statements
    
-else:
    - statements

SyntaxError: invalid syntax (<ipython-input-49-86bc4ae6842b>, line 5)

In [54]:
# to check whether a number is potive
a = 10
if a>0:
    print("postive")

postive

In [55]:
# to check whether a number is potive or negative
a = -10
if a>0:
    print("postive")
else:
    print("negative")

negative

In [58]:
# to check whether a number is potive or negative
a = 0
if a>0:
    print("postive")
elif a==0:
    print("zero")
else:
    print("negative")

negative

In [65]:
# to check whether a number is even
a = int(input("enter a number"))
if a%2==0:
    print("even")
else:
    print("odd")

enter a number3
odd

In [ ]:
# to check whether a number is potive or negative
a = int(input("enter a number")))
if a>0:
    print("postive")
elif a==0:
    print("zero")
else:
    print("negative")

In [ ]:
# to check whether numbber is a mutltipe of 3 and 5
a = int(input("enter a number"))
if a%3==0 and a%5==0:
    print("yes")
else:
    print("no")

In [67]:
# to check biggest 3
a = int(input("enter a number"))
b = int(input("enter a number"))
C = int(input("enter a number"))
if a>b and a>c:
    print("a")
elif b>a and b>c:
    print("b")
else:
    print("c")

enter a number2
enter a number3
enter a number4
c

In [68]:
# to check consonents
a = input("enter a number")
if a=='a' or a=='e' or a=='i' or a=='o' or a=='u':
    print("vowel")

else:
    print("consonent")

enter a numbere
vowel

In [1]:
# to check leap year
a = int(input("enter a year"))
if a%4==0:
    print("leap")

else:
    print("not leap")

enter a year2022
not leap